<!DOCTYPE html>
<html>

  {% include ditty_head.html %}

  <body>

    {% include ditty_header.html %}

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
          {{ content }}
      </section>
    </div>

    {% include ditty_footer.html %}

  </body>

</html>
