<!DOCTYPE html>
<html>

  {% include ditty_head.html %}

  <body>

    {% include ditty_header.html %}

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <h1 id="page-heading">{{page.title}}</h1>
        <table id="issue-meta">
          <tr>
            <td class=issue-meta-elem>Date created: {{page.date}}</td>
            <td class=issue-meta-elem>Status: {{page.ditty_status}}</td>
          </tr>
          <tr>
            <td class=issue-meta-elem>Milestone: {{page.ditty_milestone}}</td>
            <td class=issue-meta-elem>Category: {{page.ditty_cat}}</td>
          </tr>
        </table>
        <h2 class=content-marker>Issue content:</h2>
        <div id="issue-content">
          {{ content }}
        </div>
      </section>
    </div>

    {% include ditty_footer.html %}

  </body>

</html>
