<!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">


          
          <h1 id="project_title">{{ site.data.ditty.ProjectTitle }}</h1>
          <h2 id="ditty_title"><img id='ditty_logo' src="{{site.data.ditty.url}}/images/DittyLogo.png" alt="">Ditty issue tracking</h2>


            <section id="nav">
              <a class=
              {% if page.ditty_status == "open" %}
               "nav-element-selected"
              {% else %}
               "nav-element"
              {% endif %}
              href="{{site.data.ditty.url}}/">Open issues</a>
              <a class=
              {% if page.ditty_status == "closed" %}
               "nav-element-selected"
              {% else %}
               "nav-element"
              {% endif %}
              href="{{site.data.ditty.url}}/closed.html">Closed issues</a>
              <a class=
              {% if page.ditty_status == "all" %}
               "nav-element-selected"
              {% else %}
               "nav-element"
              {% endif %}
              href="{{site.data.ditty.url}}/all.html">All issues</a>
            </section>
        </header>
    </div>