<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Ditty issue tracking for {{ site.data.ditty.ProjectTitle }}">
    <link rel="shortcut icon"  type="image/png" href="{{site.data.ditty.url}}favicon.png?">
    <link rel="stylesheet" type="text/css" media="screen" href="{{site.data.ditty.url}}/stylesheets/ditty.css">

    <title>Ditty issue tracking for {{ site.ditty.ProjectTitle }}</title>
</head>