<table style="width:100%">
    <tr>
      <th>
        Date
      </th>
      <th>
        Issue Title
      </th>
      {% if page.ditty_status == "all" %}
        <th>
          Status
        </th>
      {% endif %}
      <th>
        Milestone
      </th>
      <th>
        Category
      </th>
    </tr>
  {% for issue in site.posts %}
      {% if issue.ditty_status == page.ditty_status or page.ditty_status == "all" %}
      <tr>
        <td>
          {{ issue.date | date: "%b %-d, %Y" }}
        </td>
        <td>
          <a class="issue-link" href="{{ issue.url | prepend: site.data.ditty.url }}">{{ issue.title }}</a>
        </td>
        {% if page.ditty_status == "all" %}
          <td>
            {{issue.ditty_status}}
          </td>
        {% endif %}
        <td>
          {{issue.ditty_milestone}}
        </td>
        <td>
          {{issue.ditty_cat}}
        </td>
      </tr>
      {% endif %}
  {% endfor %}
</table> 
